@import-normalize;
@tailwind base;
@tailwind components;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center 
    h-12 w-12 mt-2 mb-2 p-1
  bg-gray-100  dark:bg-gray-300 
    rounded-3xl hover:rounded-xl 
    transition-all duration-500 ease-linear
    cursor-pointer;
  }

  .header-text {
    @apply text-3xl font-bold tracking-wider
    text-gray-700 dark:text-gray-300
    ml-2 md:ml-6 my-auto flex-1
    transition duration-300 ease-in-out;
  }

  .content-container {
    @apply flex flex-col 
    bg-gray-50 dark:bg-gray-800
    text-gray-600 dark:text-gray-300
    m-0 xl:px-32
    h-full w-full max-w-full max-h-full
    overflow-hidden;
  }

  .card {
    @apply shadow-lg rounded-lg overflow-hidden 
    bg-white dark:bg-gray-700 p-6 sm:p-4
     flex flex-col md:flex-row justify-between items-center gap-8 md:gap-4;
  }

  .card-reverse {
    @apply flex-col md:flex-row-reverse;
  }

  .card__img {
    @apply w-64 h-64 sm:w-40 sm:h-40
          object-cover object-center rounded-full md:rounded-lg;
  }

  .card__content {
    @apply p-4 sm:p-2 
           flex justify-center flex-col 
           text-center;
  }

  .card__content-header {
    @apply text-3xl font-bold mb-2 dark:text-white text-gray-900;
  }

  .card__content-description {
    @apply text-xl leading-tight dark:text-gray-400 text-gray-700;
  }

  /* Search component */

  .video-wrapper {
    @apply bg-white dark:bg-gray-800
      p-6 mb-2 
      shadow-xl shadow-gray-900 rounded-lg
      flex gap-4 flex-col md:flex-row 
  }

  .video-wrapper img {
    @apply w-full md:w-1/2 object-contain;
  }

  .video-description {
    @apply flex-1
  }

  .video-title {
    @apply text-gray-900 dark:text-gray-400 text-base tracking-tight font-semibold uppercase lg:text-xl xl:text-2xl mb-4;
  }

  summary {
    @apply m-0 py-2 border-t-2 border-b-2 sticky top-0 bg-white dark:bg-gray-800 list-none flex justify-between items-center
  }

  summary .arrow {
    @apply text-2xl
  }

  details {
    @apply max-h-80 md:max-h-48 lg:max-h-72  2xl:max-h-88 overflow-auto
  }
  /* MENU */

  .router-link {
    @apply text-6xl text-gray-700 dark:text-gray-200 uppercase tracking-wide leading-8 hover:underline;
  }
}

@tailwind utilities;

::-webkit-scrollbar {
  background-color: transparent;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 dark:bg-gray-500;
}